.skill_row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .skills-container {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: rgb(236, 236, 236);
  }
  .skills-container h2{
    font-size: 2.5rem;
  }
  
  .skills-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: rgb(0, 0, 0);
    margin: 2rem;
    width: 12rem; 
    height: 8rem;
    border-radius: 5px;
    color: white;
    padding: 8px;
    
  }
  
  
  .react_icon_skill{
    width: 200px;
    height: 70px;
}
.skill-item:hover {
  fill: rgb(207, 88, 88);
  color: rgb(207, 88, 88);
}
.skill-item:hover .react_icon_skill{
  fill: rgb(207, 88, 88);
  color: rgb(207, 88, 88);
}

.react_icon_skill_html{
  width: 200px;
  height: 100px;
  fill: rgb(255, 81, 0);
  padding: 5px;
}
.react_icon_skill_css{
  width: 200px;
  height: 100px;
  fill: rgb(13, 95, 177);
  padding: 5px;
}
.react_icon_skill_git{
  width: 200px;
  height: 100px;
  fill: rgb(255, 255, 255);
  padding: 5px;
}
.react_icon_skill_python{
  width: 200px;
  height: 100px;
  fill: rgb(249, 224, 0);
  padding: 5px;
}
.react_icon_skill_firebase{
  width: 200px;
  height: 100px;
  fill: rgb(249, 174, 0);
  padding: 5px;
}
.react_icon_skill_bootstrap{
  width: 200px;
  height: 100px;
  fill: rgb(91, 0, 249);
  padding: 5px;
}
@media  (max-width: 550px) {
  .skill-item {
   
    background-color: rgb(0, 0, 0);
    margin: 1rem;
    width: 10rem; 
    height: 10rem;
    border-radius: 5px;
    color: white;
    
  }

}
@media (min-width: 300px) and (max-width: 400px) {
  .skill-item {
   
    background-color: rgb(0, 0, 0);
    margin: 1rem;
    width: 8rem; 
    height: 8rem;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    
  }
  .skills-container h2{
    font-size: 2rem;
  }

}